@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/assets/images/ios-icon.png" rel="apple-touch-icon">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/site.css")'>
        <script src='@routes.Assets.at("javascripts/jquery.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/main.old.js")' type="text/javascript"></script>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">NATALIE DEE</a>
                </div>
            </div>
        </header>

        <footer>
            <div class="container">
                <div class="message">
                    <center>
                        <a class="btn btn-success" href="/">More Random!</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-warning" href="/archives">Pick a Month</a>
                    </center>
                </div>
            </div>
        </footer>

        @content

        <div class="loading hidden">
            <div class="container">
                <div class="message">
                    <center>
                        <p>Loading more... </p>
                        <img src="/assets/images/loading.gif">
                    </center>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="message">
                    <center>
                        <a class="btn btn-success" href="/">More Random!</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-warning" href="/archives">Pick a Month</a>
                    </center>
                </div>
            </div>
        </footer>
    </body>
</html>
